<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta name="keywords" content="error403, G-OAT, ovaz">
        <title>G-OAT - Error403</title>
        <%- include("../fragmente/head.ejs");%> 
    </head>
    <body>
        <%- include("../fragmente/header.ejs");  %> 
    <main>
        <figure class="eroare">
            <picture>
                <source srcset="Resurse/img/403.jpg" width="300px" height="300px" media="(max-width:960px)"/>
                <source srcset="Resurse/img/403.jpg" width="400px" height="400px" media="(max-width:1100px)"/>
                <source srcset="Resurse/img/403.jpg" width="500px" height="500px" media="(max-width:1300px)"/>
                <img src="Resurse/img/403.jpg" width="550px" height="550px" alt="Error403"/>
            </picture>
        </figure>
    </main>
    <%- include("../fragmente/footer.ejs");  %> 
    </body>
</html>