<!DOCTYPE html>
<html lang="en">
	<head>
		<title>G-OAT - Confirmation</title>
		<%- include("../fragmente/head") %>
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			
			<h1>Email confirmation!</h1>
			<p>All set up!</p>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>