<!DOCTYPE html>
<html  lang="en">
    <head>
        <meta name="description" content="G-OAT - My Basket full of healty oatmeal!">
        <meta name="keywords" content="G-OAT, oatmeal, oat, product, sweets, drinks, baby goats, healthy, basket, virtual basket">
        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <title>G-OAT - My Basket</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/Resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Purchase
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>