<!DOCTYPE html>
<html lang="en">
	<head>
		<title>G-OAT - Custom</title>
		<%- include("../fragmente/head") %>
        
		<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
		<script src="/Resurse/js/info-clienti.js" crossorigin></script>
		<link type="text/css" href="/Resurse/css/info-clienti.css"rel="stylesheet" />
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			<section id="prajitura-individualizata">
				<h1>Custom oatmeal</h1>
                <p id = "descr">Our team can make you a custom oatmeal so you can try our different flavours.</p>
				
				<div id="creare-prajitura">
					We are loading the app!
				</div>
				<hr/>
				<section>
					<h2>Interactive clock</h2>
					<div id="exemplu-curs">
						We are loading the app!
					</div>
				</section>
			</section>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>