<!DOCTYPE html>
<html lang="en">
    <head>
        <title>G-OAT - Recipes</title>
        <meta name = "keywords" content = "oatmeal, oat recipes, overnight oats, perfect oats, easy oats, great oats, tips and tricks oatmeal, fast oatmeal">
        <%- include ("../fragmente/head.ejs") %>
    </head>
    <body>
        <%- include ("../fragmente/header.ejs") %>
        <main>
            <div id="grid-pagina">
                <section id = "zona8">
                    <section id="retete">
                        <h2>Oatmeal recipes</h2>
                        <p>Here you cand find easy, fast, and healthy oatmeal recipes you can try at home</p>
                        <div class = "iframescreen">
                            <iframe name="ifr-video" width="560" height="310" src="https://www.youtube.com/embed/Lkl9_3-jX6c" 
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="iframecolumn">
                                <a href="https://www.youtube.com/embed/Lkl9_3-jX6c" target="ifr-video">Overnight Oats</a>
                                <a href="https://www.youtube.com/embed/3rZmW8zTnII" target="ifr-video" >Baked Oats</a>
                                <a href="https://www.youtube.com/embed/ygm-D1gPlJM" target="ifr-video" >Protein Oats</a>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
        </main>
        <%- include ("../fragmente/footer.ejs") %>
    </body>
</html>