#galerie_statica{
    counter-reset: nrimag 0;
}

#galerie_statica figcaption{
    counter-increment: nrimag;
}

#galerie_statica figcaption::before{
    content: counter(nrimag, upper-roman) ") ";
}
