<footer id="footer">
    <a href="#top" id="link-top"><div id="triunghi"><span class="tooltip">Top of page</span></div></a>
    <div id = "date_contact">
        <p><i class="fa-solid fa-phone fa-bounce"></i> Phone: <a href="tel:+40703148258">+40703148258</a></p>
        <p><i class="fa-solid fa-location-dot"></i> Adress: <a href="https://goo.gl/maps/fNe1zw4o71XxiEaB9">Sediul G-OAT, Strada Academiei 14, Bucharest</a></p>
        <p><i class="fa-solid fa-envelope"></i> Email: <a href="mailto:g-oat@gmail.com">g-oat@gmail.com</a></p>
        <p><i class="fa-brands fa-skype"></i> Skype: <a href="skype:g-oat?chat">Skype G-OAT</a></p>
    </div>
    <p><small>Copyright &copy;<time datetime="2022-02-20">20February2022</time> Patranjel David-George</small></p>
    <p><a href = "/terms" class = "linkurifinal">Terms and conditions</a>   <a href = "/privacy" class = "linkurifinal">Privacy policy</a></p>
    <div id="banner">
        <p>This is a school project! Do you accept cookies? <button id = "ok_cookies">OK</button></p>       
    </div>
</footer>